* {
  box-sizing:border-box;
}
html {
  background-color: #34A8E0;
  /* background: url("WDnDscreen.png") left top no-repeat;
  background: linear-gradient(10deg, #E9590E 0%,#E9590E 20%, #3AAA34 20%,#3AAA34 50%,#34A8E0 50%,#34A8E0 100%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  background: linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%),
              linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
  background-size: cover;
  background-attachment: fixed;

  font-family: "Open sans", Helvetica, Sans-Serif;
  font-size: 1.2em;
  line-height: 1.4em;
  color: white;

  padding:0;
  margin:0;
}
body{
  margin: 0;
  padding: 1em;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  transition: all 1s;
}
h1, h2{
  font-size: 1.6em;
}
a {
  color: white;
}
a:hover, a:focus {
  background: white;
  color: black;
}

/*
  MAIN
*/
main{
  padding: 0em;
}
main h1{
  line-height: 1.1em;;
}
main section{
  margin: 0 0 4em 0;
  max-width: 30em;
}
/*
  Header met het logo en de titel
*/
pre{
  overflow-x: hidden;
}
header{
  max-width: 20em;
  text-align: center;
  line-height: 1.8em;
  padding: 1em;
}
header img{
  width: 80%;
  /display: none;
  margin-top: -0.6em;
}
header p{
  text-align: left;
}
svg{
  width: 100%;
  display: none;
  /background: pink;
}
video{

}
q{
  display: block;
  margin: 1em 0;
}

/*
  Footer met minor info en over de hva, cmd enzo
*/
footer{
  background: rgba(0,0,0,0.2);
  padding: 1em;
  border-radius: 0.2em;
  overflow-x: hidden;
}
footer p{
  max-width: 30em;
}
footer img{
  background: white;
  padding: 0.6em;
  margin: 0;
}
footer img[title="wd"]{
  width: 10.1em;
  filter: brightness(1);
}
footer img[title="cmd"]{
  width: 6.19em;
}
footer img[title="hva"]{
  width: 12em;
  /filter: brightness(0);
}

/*

*/
@media all and (min-width: 32em) {
  main{
    padding: 1em;
  }
}

@media all and (min-width: 64em) {
  main{
    margin-left: 20em;
  }
  header{
    position: absolute;
    top: 0;  
  }
  header p{
    padding: 0 1em;
  }
}
