* {
  box-sizing:border-box;
}
html {
  background-color: #34A8E0;
  /* background: url("WDnDscreen.png") left top no-repeat;
  background: linear-gradient(10deg, #E9590E 0%,#E9590E 20%, #3AAA34 20%,#3AAA34 50%,#34A8E0 50%,#34A8E0 100%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  background: linear-gradient(10deg, #E9590E 24%, rgba(0,0,0,0) 24%),
              linear-gradient(21deg, #3AAA34 46%, #34A8E0 46%);
  background-size: cover;
  background-attachment: fixed;

  font-family: "Open sans", Helvetica, Sans-Serif;
  font-size: 1.2em;
  line-height: 1.4em;
  color: white;

  padding:0;
  margin:0;
}
body{
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h1, h2{
  font-size: 1.6em;
}
a {
  color: white;
}

/*
  Header met het logo en de titel
*/
header{
  max-width: 20em;
  text-align: center;
  line-height: 1.4em;
  padding: 1em;
}
header img{
  width: 80%;
  /display: none;
}
header p{
  text-align: left;
}
svg{
  width: 100%;
  display: none;
  /background: pink;
}

/*
  Video's in sections in de main
*/
main{
  max-width: 30em;
  padding: 1em;
}
main section{
  margin: 2em 0;
}
video{

}

/*
  Footer met minor info en over de hva, cmd enzo
*/
footer{
  background: rgba(255,255,255,0.2);
  padding: 1em;
  border-radius: 0.2em;
}
footer p{
  max-width: 30em;
}


/*

*/
@media all and (min-width: 42em) {
  body {
    flex-direction: row;
    padding: 2em;
  }
  header p{
    padding: 0 1em;
  }
  main{
    margin-top: 6em;
  }
  h2{
    text-align: center;
  }
  footer{
    width: 100vw;
  }
}
