* {
  box-sizing:border-box;
}
html {
  background-color: #34A8E0;
  background: url("WDnDscreen.png") left top no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Open sans", Helvetica, Sans-Serif;
  font-size: 1.2em;
  line-height: 1.4em;
  color: white;

  padding:0;
  margin:0;
}
body{
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h1, h2{
  font-size: 1.6em;
}
a {
  color: white;
}

/*
  Header met het logo en de titel
*/
header{
  max-width: 20em;
  text-align: center;
  line-height: 1.4em;
  padding: 1em;
}
header img{
  width: 80%;
}
header p{
    text-align: left;
    padding: 0 1em;
}
svg{
  width: 100%;
  display: none;
}

/*
  Video's in sections in de main
*/
main{
  max-width: 30em;
  padding: 1em;
}
main section{
  margin: 2em 0;
}
video{

}

/*
  Footer met minor info en over de hva, cmd enzo
*/

footer{
  width: 100vw;
  background: rgba(255,255,255,0.2);
  padding: 1em;

}
footer p{
  max-width: 30em;
}


/*

*/
@media all and (min-width: 44em) {
  body {
    flex-direction: row;
    padding: 2em;
  }
  main{
    margin-top: 1.3em;
  }
  h2{
      text-align: center;
  }
}
