/************************/
/* SECTION - IMPRESSION */
/************************/

#impression {
  grid-column: 1/-1;
}
section {
  margin: -1.5em 0;
  max-width: 34em;
}
section > * {
  position:relative;
  z-index:10;
}

#impression li {
  flex-shrink:0;
  scroll-snap-align:center;
  
  width:min(85%, 20em);
  padding:0;

  display:flex;
  width:100vw;
  overflow-x:scroll;
  margin:0 -1em;
}
section h2 {
  color: var(--cmd-primary);
  background-color: var(--cmd-minor-one);
  padding:0.2em .3em;
  margin-left:-.25em;
}
article {
  position: relative;
}
article h3 {
  position:absolute;
  display: inline-block;
  padding: 0.2em;
  background-color: rgba(0, 0, 0, 0.4);
  left:1em;
  font-weight: normal;
}
article img {
  margin-right: 1em;
  max-height: 20em;
}

/* detail informatie van bv vakken...*/
details p {
    margin-top: -1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, .2);
    color: var(--cmd-primary);
}
details p:first-of-type { 
      margin-top: 0.4em;
}

summary {
      font-weight: bold;
      margin-bottom: 0.2em;
      display: inline-block;
}

/*  info in de footer met testimonials */
}
footer {
  padding: .5em 1em 2em 1em;
}

footer q {
  display: inline-block;
  margin: 1em;
  max-width: 30em;
  vertical-align: top;
  font-size: 1.2em;
  font-style: italic;
}




@media (min-width: 66em) {
  main {
    display:grid;
    grid-template-columns:repeat(auto-fit, 12em);

    /* no more horizontal scroll */
    overflow-x:unset;
    overscroll-behavior-x:unset;  
    scroll-snap-type:unset;
  }
  
  #impression li {
    border:none;
  }

  #impression li div {
    padding:.5em 0;
  }

  #impression li a {
    white-space:normal;
    word-break: break-all;
  }
}





/*********************/
/* SECTION - COURSES */
/*********************/

#courses {
  grid-column: 1/-1;
}

#courses div {
  width:100%;
  overflow-x: auto;
  overscroll-behavior-x:contain;
}

#courses td {
  height:min(20vh, 8em);
  padding:1em;

  border:solid 1px currentColor;

  line-height:1.2em;
  text-align:center;
}

#courses td.vrl {
  writing-mode: vertical-rl;
  rotate:180deg;
}

#courses td.low {
  height:1em;
}

#courses td i {
  display:inline-block;
  max-width:7em;
}