/************************/
/* SECTION - IMPRESSION */
/************************/

#impression {
  grid-column: 1/-1;
}

#impression ul {
  padding:0;
  list-style:none;

  /* horizontal scroll */
  display:flex;
  gap:1em;
  overflow-x:auto;
  overscroll-behavior-x:contain;
  scroll-snap-type:x mandatory;
}

#impression li {
  flex-shrink:0;
  scroll-snap-align:center;
  
  width:min(85%, 20em);
  padding:0;

  display:flex;
  flex-direction:column;

  line-height:1.3em;

  border-style:solid;
  border-width:1px;
  border-color:currentColor;
}

/* change up background-gradients */
#impression li:nth-of-type(1) img {--angle1:110deg; --angle2:118deg;}
#impression li:nth-of-type(2) img {--angle1:325deg; --angle2:28deg;}
#impression li:nth-of-type(3) img {--angle1:140deg; --angle2:138deg;}

#impression li:nth-of-type(4) img {--angle1:355deg; --angle2:48deg;}
#impression li:nth-of-type(5) img {--angle1:170deg; --angle2:158deg;}
#impression li:nth-of-type(6) img {--angle1:385deg; --angle2:68deg;}

#impression li:nth-of-type(7) img {--angle1:200deg; --angle2:178deg;}
#impression li:nth-of-type(8) img {--angle1:315deg; --angle2:88deg;}
#impression li:nth-of-type(9) img {--angle1:230deg; --angle2:198deg;}


@media (width > 48em) {
  #impression ul {
    /* grid */
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(14em, 1fr) );

    /* no more horizontal scroll */
    overflow-x:unset;
    overscroll-behavior-x:unset;  
    scroll-snap-type:unset;
  }

  #impression li {
    width:100%;
  }
}

#impression li div {
  padding:.5em;
}

#impression li h3 {
  margin:0;
  font-size:1em;
}

#impression li p {
  margin:0;
}

#impression li a {
  position:relative;
  padding-left:.8em;
  white-space:nowrap;
}
#impression li a::before {
  content:"⇾";
  position:absolute;
  left:0em;
  color:var(--clr-body)
}

#impression li img {
  order:-100;
  display:block;
  padding:clamp(1em, 10vw, 3em);
  background-image:var(--wdd-bg-img);
}

@media print {
  #impression ul {
    /* grid */
    display:grid;
    grid-template-columns:repeat(auto-fit, 12em);

    /* no more horizontal scroll */
    overflow-x:unset;
    overscroll-behavior-x:unset;  
    scroll-snap-type:unset;
  }
  
  #impression li {
    border:none;
  }

  #impression li div {
    padding:.5em 0;
  }

  #impression li a {
    white-space:normal;
    word-break: break-all;
  }
}





/*********************/
/* SECTION - COURSES */
/*********************/

#courses {
  grid-column: 1/-1;
}

#courses div {
  width:100%;
  overflow-x: auto;
  overscroll-behavior-x:contain;
}

#courses td {
  height:min(20vh, 8em);
  padding:1em;

  border:solid 1px currentColor;

  line-height:1.2em;
  text-align:center;
}

#courses td.vrl {
  writing-mode: vertical-rl;
  rotate:180deg;
}

#courses td.low {
  height:1em;
}

#courses td i {
  display:inline-block;
  max-width:7em;
}