:root {
  --cmd-primary:#ffd700;
  --cmd-secondary:#ffd000;
}
* {
  box-sizing:border-box;
}
html {
  font:100% / 200% "Monaco";
  padding:0;
  margin:0;
}
body {
    overflow-x:hidden;
    padding:0;
    margin:0;
    background-color: var(--cmd-primary);
    background: repeating-linear-gradient(-60deg, var(--cmd-primary), var(--cmd-primary) 5em, var(--cmd-secondary) 5em, var(--cmd-secondary) 10em /* determines size */ );
    font-size:1.2em;
}
header {
  padding:0 1em;
}
h1 {
  line-height:1.25;
  position:relative;
}
h2 ~ * {
  clear:left
}
p {
	hyphens: auto;
	hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 2;
	hyphenate-limit-chars: 6 3 2;
	hyphenate-limit-zone: 2em;
	hyphenate-limit-last: always;
}
pre{
    overflow-x: hidden;
}
abbr {
	hyphens: none;
}
a {
  color:#000;
}
i {
	font-style: normal;
}
ul {
  list-style: none;
  padding-left:0

}
ul li {
  position: relative;
  padding-left:1.5em
}
ul li:before {
    content: "\2234";
    display:block;
    position: absolute;
    left:0;
    top:center;
    font-weight: bold;
    transition: transform .25s;
    transform-origin:50% 50%;
}
ul li:hover:before {
	transform: rotate(90deg)
}

/* header styling */
header {
  overflow:hidden;
}
header p {
  position: relative;
  z-index:2;
  margin:-1.3em 0 2em -.35em;
  padding:0 .35em;
  background-color:red;
  color: #fff;
  float:left;
  font-size: 1.5em;
}
main {
  xtransform:translateY(-15em);
  xtransition: transform .25s ease-in;
}
body.show-comments main{
  transform:translateY(0);
}
section {
  position: relative;
  padding:1em;
  margin: -1.5em 0;
}
section > * {
  position:relative;
  z-index:10;
}
section#impression div {
  display:flex;
  width:100vw;
  overflow-x:scroll;
  margin:0 -1em;
}
section h2 {
  color: var(--cmd-primary);
  background-color: #000;
  float:left;
  padding:0 .25em;
  margin-left:-.25em;
}
article h3 {
  position:absolute;
  left:-666em;
}
article img {
  margin-right: 1em;
  max-height:20em;
}

/* detail informatie van bv vakken...*/
details p{
    margin-top: -0.3em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 1);
    color: gold;
}
details p a{
      color: gold;
}

summary {
      font-weight: bold;
}



/* aside met studenten quotes  */
aside {
    margin-bottom: 2em;
    margin-top: -3.6em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    color: var(--cmd-primary);
    xtransform: translateX(-100%);
    xtransition: all .25s .15s;
    xscroll-behavior: smooth;
}
body.show-comments aside {
  xtransform: translateX(0);
}
aside h2 {
    xdisplay: none;
    font-size: 1em;
}
aside p {
    display: inline-block;
    margin: 0.6em 0 0 -0.4em;
    padding: 0 0.4em;
    background-color: var(--cmd-primary);
    color: #000;
    line-height: 1.25;
    text-align: right;
}
aside > div { /* container voor het horizontale ding*/
    margin: 1em -1em 0 -1em;
    overflow-x: scroll;
    width: 100vw;
}
aside > div > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    width:330em; /* ...*20em */

    xtransform:translatex(10em);
    xtransition: all .25s .15s;
    animation-name: pulse;
    animation-duration: 1s;
    xanimation-delay: 2s
    animation-iteration: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,.97,.92,.95);
}
@keyframes pulse {
  0% {
    transform:translatex(10em);
  }
  100% {
    transform:translatex(0.2em);
  }
}

aside > div > div p { /*de kopjes tussendoor */
    width: 15em;
    background-color: transparent;
    color: var(--cmd-primary);
    font-size: 0.7em;
    line-height: 1.8em;
}
aside > div > div q { /* de quotes */
    width: 20em;
    padding:0.6em;
    background-color: var(--cmd-primary);
    color:#000;
    font-style: italic;
    font-size: 0.7em;
    line-height: 1.4em;
}



/*  info in de footer met testimonials */
footer {
    padding:.5em 1em;
    margin-top: 4em;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--cmd-primary);
}
footer h2 {
    float:left;
    margin:-1em 0 1em -.25em;
    padding:0 .25em;
    background-color: var(--cmd-primary);
    color:#000;
}
footer a {
  color: var(--cmd-primary);
}


@media (min-width: 50em) {
  main {
    display:grid;
    grid-gap: 1em;
		grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  section#intro {
    grid-column: 1 / 4;
  }
  section#impression {
    grid-column: 1 / 5;
    max-height:40em;
  }
  section#match{
    grid-column: 1 / 3;
  }
  section#werkwijze {
    grid-column: 3 / 5;
  }
  section#courses {
    grid-column: 1 / 3;
  }
  section#requirements {
    grid-column: 3 / 5
  }
  section#application{
    grid-column: 3 / 5
  }
}

/*source: https://codepen.io/eode9/pen/twkKm*/
.ribbon {
    position: fixed;
    width: 240px;
    top: 30px;
    right: -55px;
    z-index:100;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background:red;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 1px;
}

/* https://codepen.io/peterhry/pen/jdrgp?editors=0100 */
.starburst {
  xfont: 4em/1 'Lobster', georgia, serif;
  background: #fff;
  /*
  Uncomment this to tart them up..
  background: radial-gradient(circle, #e00000 20%, #990000 80%);
  text-shadow: 0 .05em .05em rgba(0,0,0,.5);
  */
  width: 3em;
  height: 3em;
  text-align: center;
  color: #000;
  xline-height: 1.2em;

  display: box;
  box-align: center;
  box-pack: center;
  z-index: 99;

  position: absolute;
  top: 50%;
  left: 25%;
  margin-top: -1.25em;
  margin-left: 4em;

  padding-top: 0.6em;
}
.starburst:before,
.starburst:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: inherit;
   z-index: -1;
   transform: rotate(30deg);
}

.starburst:after {
  transform: rotate(-30deg);
}


/***************************/

.star {
  xfont: 4em/1.4 'Lobster', georgia, serif;
  background: #fff;
  /*
  Uncomment this to tart them up..
  background: radial-gradient(circle, #e00000 20%, #990000 80%);
  text-shadow: 0 .05em .05em rgba(0,0,0,.5);
  */
  width: 6em;
  height: 6em;
  text-align: center;
  color: #000;

  display: box;
  box-align: center;
  box-pack: center;

  xwidth: 100%;
  xheight: 100%;
  xbackground: pink;
  transform: rotate(30deg);

    position:relative;
    top: 50%;
    margin-top: -1.25em;
    margin-left: -1.25em;

    left: 30px;

  }



.star:before,
.star:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: inherit;
   z-index: -1;
   transform: rotate(40deg);
}

.star:after {
  transform: rotate(-40deg);
}
