/*
  MAIN
*/
main{
  padding: 0em;
  min-height: 80vh;
}
main h1{
  line-height: 1.1em;
  font-size: 1.6em;
}
section{
  max-width: 30em;
  margin: 1em 0;
}
section h2{
  font-size: 1.6em;
  background: var(--minor-one);
}
/* details{
  margin: 1em 0;
}
summary {
  background: var(--minor-one);
  padding: .4em;
  margin-left:-.4em;
  font-size: 1.6em;
  font-weight: bold;
  /* position: relative; */
  display: inline-block;
} */
article h3 {
  /background: var(--minor-three);
  padding: .2em;
  display:inline-block;
  margin-left:-.2em;
}
/*

*/
@media all and (min-width: 32em) {
  main{
    padding: 1em;
  }

}

@media all and (min-width: 64em) {
  body {
    display:grid;
    grid-template-columns:1fr 2fr;
  }
  main{

  }
  header h1 {
    position: sticky;
    top: 0;  
  }
  
  header p{
    padding: 0 1em;
  }
  footer {
    grid-column: 1 / -1;
  }
}
