/*****************/
/* FIRST SECTION */
/*****************/

section.intro {
  flex-basis:24em;
  flex-grow:1.5;
  max-width:36em;
  margin-left:auto;

  position:relative;
  z-index: 100;
  overflow:hidden;
  align-self:center;
  padding:1.5em 1em;
  border:solid 1px currentColor;

  background-color: var(--bg-first);
  background-image:var(--wdd-bg-img);
  background-size:100% .2em;
  background-repeat:no-repeat;
}

@supports (-webkit-backdrop-filter:blur(5px)) {
  section.intro {
    -webkit-backdrop-filter: blur(.5em) hue-rotate(10deg);
  }
}

@supports (backdrop-filter:blur(5px)) {
  section.intro {
    backdrop-filter: blur(.25em) hue-rotate(10deg);
  }
}

section.intro > * {
  /* to position content above the absolute before */
  position:relative;
}

section.intro h2 {
  font-size:2em;
}

/* unicorn icon */
section.intro::after {
  content:"";
  position:absolute;
  right:1em;
  bottom:-1px;
  width:2em;
  aspect-ratio:1/1;

  background-image:url(../images/unicorn.svg);
  background-size:contain;
  background-position:center bottom;
  background-repeat:no-repeat;
}


@media screen and (prefers-color-scheme:dark) {
  section.intro::after {
    filter:invert(1);
  }
}

/* 3D translucent effect */
@media (width > 56em) and (prefers-reduced-motion:no-preference) {
  section.intro {
    max-width:28em;

    transform: 
      perspective(32em) 
      translateX(-4em)
      translateY(.5em)
      translateZ(0em)
      rotateY(-22.5deg) 
      rotateX(5deg)
      rotateZ(2.5deg);

    box-shadow:
      1px .125px 0 -.45px  currentColor,
      2px .25px  0 -.90px  currentColor,
      3px .375px 0 -1.35px currentColor,
      4px .50px  0 -1.8px  currentColor,
      5px .625px 0 -2.25px currentColor,
      6px .75px  0 -2.70px currentColor,
      7px .875px 0 -3.15px currentColor,
      8px 1.00px 0 -3.60px currentColor;

    background-color:transparent;
    background-image:
      var(--wdd-bg-img),
      var(--wdd-bg-img),
      linear-gradient(var(--wdd-blue), var(--wdd-lime), var(--wdd-yellow), var(--wdd-green), var(--wdd-blue));
    background-size:
      100% .2em, 100% .2em, 
      100% .2em, 100% .2em, 
      .2em 100%;
    background-repeat:no-repeat;
    background-position:
      left top, left top,
      left bottom, left bottom,
      left top;

    will-change:
      transform, 
      box-shadow, 
      background-color,
      background-size;

    transition:
      transform 1s ease-in-out, 
      box-shadow 1s ease-in-out, 
      background-color 1s ease-in-out,
      background-size 1s ease-in-out;
  }

  /* shimmer */
  section.intro::before {
    content:"";
    position:absolute;
    inset:0;

    background-image:var(--grdnt-first);

    transition:opacity 1s ease-in-out;
  }

  /* hover or focus-within */
  section.intro:hover,
  section.intro:focus-within {
    transform: 
      perspective(32em) 
      translateX(0em) 
      translateY(0em)
      translateZ(0em)
      rotateY(0deg) 
      rotateX(0deg)
      rotateZ(0deg);
      
    box-shadow:
      0px 0px currentColor,
      0px 0px 0 0px currentColor,
      0px 0px 0 0px currentColor,
      0px 0px 0 0px currentColor,
      0px 0px 0 0px currentColor,
      0px 0px 0 0px currentColor,
      0px 0px 0 0px currentColor,
      0px 0px 0 0px currentColor;

    background-size:
      100% 0em, 100% 0em, 
      100% 0em, 100% 0em, 
      0em 100%;
    background-color:var(--bg-first);
  }

  section.intro:hover::before,
  section.intro:focus-within::before {
    opacity:0;
  }
}