@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-Light"),
    local("Open Sans Light"),
    url("../fonts/OpenSans-Light.ttf");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-LightItalic"),
    local("Open Sans Light Italic"),
    url("../fonts/OpenSans-LightItalic.ttf");
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-SemiBold"),
    local("Open Sans SemiBold"),
    url("../fonts/OpenSans-SemiBold.ttf");
  font-weight:bold;
  font-style:normal;
}

@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-SemiBoldItalic"),
    local("Open Sans SemiBold Italic"),
    url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-weight:bold;
  font-style:italic;
}

@font-face {
  font-family:"impact";
  src:
    local("Impact"),
    url("../fonts/Impact.ttf");
  font-weight:bold;
  font-style:normal;
}  