@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-Light"),
    local("Open Sans Light"),
    url("../fonts/OpenSans-Light.ttf");
  font-weight:300;
  font-style:normal;
}

@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-LightItalic"),
    local("Open Sans Light Italic"),
    url("../fonts/OpenSans-LightItalic.ttf");
  font-weight:300;
  font-style:italic;
}

@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-SemiBold"),
    local("Open Sans SemiBold"),
    url("../fonts/OpenSans-SemiBold.ttf");
  font-weight:600;
  font-style:normal;
}

@font-face {
  font-family:"Open Sans CMD";
  src:
    local("OpenSans-SemiBoldItalic"),
    local("Open Sans SemiBold Italic"),
    url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style:italic;
}

html {
  font-family: 'Open Sans CMD', sans-serif;
  font-weight:300;
  line-height:1.7;
  font-size:clamp(1em, 5vw, 1.3em);
}
  