/**********/
/* REMEDY */
/**********/

*, ::before, ::after {
  box-sizing:border-box;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion:no-preference) {
  *, ::before, ::after {
    scroll-behavior: smooth;
  }
}




/********/
/* TEXT */
/********/

h1, h2 {
  font-weight: 300;
  line-height: 1.2em;
}

h1 {
  margin:0;
  font-size:3em;
}

h2 {
  margin:0;
  font-size:2em;

  max-width:clamp(34rem, 50vw, 42rem);
}

h3 {
  font-size:1.25em;
  font-weight:600;
}

p, li {
  max-width:clamp(32rem, 50vw, 40rem);
  line-height:1.67;
  text-wrap: pretty;
  
}

q {
  display:inline-block;
  text-wrap: pretty;
}

strong {
  font-weight:600;
}

abbr {
  text-underline-offset: .125em;
  text-decoration-style: dashed;
  text-decoration-thickness:1px;

  transition:.2s;
}

abbr:hover {
  text-underline-offset: .15em;
  text-decoration-style: solid;
}

a abbr {
  text-decoration:none;
}





/********/
/* LIST */
/********/

ul {
  padding-left:1em;
  list-style-type: "☞";
}

li {
  padding-left:.5em;
}





/*********/
/* LINKS */
/*********/

a {
  color:var(--clr-link);
  text-decoration-thickness:.08em;
  text-underline-offset:.2em;
  text-decoration-skip-ink:all;
}

a:hover, a:focus {
  text-underline-offset:.12em;
  text-decoration-style:wavy;
  outline:none;
}

a:active {
  color:var(--clr-link-active);
}





/*******/
/* WOW */
/*******/

.wow {
  position: relative;
}

.wow::before,
.wow::after {
  content:"";
  display:block;
  height: 1.5em;
  background:var(--bg-lines);
} 

.wow::before {
  margin-bottom:1em;
}

.wow::after {
  margin-top:1em;
}





/************************/
/* LINKS MORE / DETAILS */
/************************/

.more {
  padding-block:.5em;

  display:flex;
  flex-wrap:wrap;
  gap:.25em;
}

details {
  position: relative;

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: 
      content-visibility 1s allow-discrete, 
      opacity 1s, 
      block-size 1s;
    display: flow-root;
  }

  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
}


/* summary more */
summary div {
  width:fit-content;
  display:block;
  padding:0 .5em;
  line-height:1.2;
}

summary div:before {
  content:"meer +";
  display:block;
}

[open] summary div:before {
  content:"minder -";
}

summary {
  list-style:none;
  cursor:pointer;
  outline:none;
}

summary::-webkit-details-marker {
  display: none;
}


/* more link */
.more a {
  padding:.125em .5em;
  display:inline-block;

  text-decoration:none;
}


/* summary more & more link */
.more a,
summary div {
  position:relative;

  background:var(--bg-body);
  box-shadow:inset 0 0 0 1px currentColor;

  transform-style: preserve-3d;
  transition:.3s;

  color:var(--clr-body);
}


/* hover & focus-visible */
.more a:is(:hover, :focus-visible),
summary:focus-visible div,
summary div:hover {
  color:var(--clr-link);
}

@media (prefers-reduced-motion:no-preference) {
  /* hover & focus-visible */
  .more a:is(:hover, :focus-visible),
  summary:focus-visible div,
  summary div:hover {
    translate:-.5em -.5em;
  }
}

.more a:active,
summary:active div {
  transition:0.15s;
  translate:0 0;
  color:var(--clr-link-active);

  box-shadow:inset 0 0 0 1px currentColor;
}


@media (prefers-reduced-motion:no-preference) {
  /* depth */

  .more a::after,
  summary div:after {
    content:"";

    position:absolute;
    inset:0;

    background: var(--wdd-bg-img);
    border-radius:inherit;
    

    clip-path:polygon(
      0 0,
      100% 0,
      100% 0,
      100% 100%,
      0 100%,
      0 100%,
      0 0
    );
    
    translate:0 0 -.1em;
    transition:.3s;
  }

  .more a:is(:hover, :focus-visible)::after,
  summary:focus-visible div::after,
  summary div:hover::after {
    inset: 0 -.5em -.5em 0;

    clip-path:polygon(
      0 0,
      calc(100% - .5em) 0,
      100% .5em,
      100% 100%,
      .5em 100%,
      0 calc(100% - .5em),
      0 0
    );
  }

  .more a:active::after,
  summary:active div::after  {
    inset: 0;

    clip-path:polygon(
      0 0,
      100% 0,
      100% 0,
      100% 100%,
      0 100%,
      0 100%,
      0 0
    );

    transition:0.15s;
  }
}




/*************/
/* DATA ICON */
/*************/

[data-icon]::before {
  content:attr(data-icon) " ";
  filter: brightness(0) invert(21%) sepia(89%) saturate(1611%) hue-rotate(174deg) brightness(93%) contrast(101%);

  filter: brightness(0);

  transition:.5s;
}

@media screen and (prefers-color-scheme:dark) {
  [data-icon]::before {
    
    filter:brightness(0) invert(73%) sepia(33%) saturate(3356%) hue-rotate(170deg) brightness(108%) contrast(101%);

    filter: brightness(0) invert(1);
  }
}

:hover[data-icon]::before,
:focus-visible[data-icon]::before {
  filter:unset;
}





/********/
/* FORM */
/********/

[type="checkbox"],
[type="radio"] {
  scale:112.5%;
}

label {
  /* display:flex; */
  align-items:baseline;
  gap:.0625em;
  padding:.25em .5em;
  cursor:pointer;
}

@media (width > 32em) {
  [type="checkbox"],
  [type="radio"] {
    scale:125%;
  }

  label {
    gap:.125em;
  }
}

@media (width > 48em) {
  [type="checkbox"],
  [type="radio"] {
    scale:150%;
  }

  label {
    gap:.25em;
  }
}




/*******************/
/* VISUALLY HIDDEN */
/*******************/

.visually-hidden {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
}





/*********/
/* PRINT */
/*********/

@media print {
  /* links */
  a[href]::after {
    content:" [" attr(href) "]";
  }

  /* internal links */
  a[href^="#"] {
    color:currentColor;
    text-decoration:none;
  }

  a[href^="#"]::after {
    content:unset;
  }

  /* links with print text */
  a[data-href-print] span {
    display:none;
  }

  a[data-href-print]::after {
    content:attr(data-href-print);
  }
}

@keyframes spin {
  0% {
    transform:rotate(0turn);
  }
  100% {
    transform:rotate(1turn);
  }
}





/**********/
/* BANNER */
/**********/

aside.banner:nth-of-type(n) {
  position: absolute;
  right:-2.5em;
  top:1.375em;
  z-index: 200;

  width:10em;
  line-height:1.75em;
  text-align:center;

  background-color: var(--bg-banner);
  color:var(--clr-banner);
  
  transform:rotate(45deg);
}





/************/
/* WRAPPERS */
/************/

html {
  background-color:var(--bg-body);
  color:var(--clr-body);
  accent-color:var(--wdd-blue);

  scroll-padding-top:4em;
  overflow-x:hidden;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  max-width:clamp(32em, 90vw, 58em);
  margin:0 auto;
  padding:4em 1em 1em;

  display:flex;
  flex-wrap:wrap;
  /* justify-content:end; */
  gap:4em 4em;
  /* overflow-x: clip; */
}

main {
  /* header, sections and footer together in the body flex */
  display:contents;
}