
header {
  flex-basis:100%;
}

h1 {
  margin-bottom:0;
}

section.intro {
  max-width:32em;
  margin-bottom:2em;
}

@media (width > 56em) and (prefers-reduced-motion:no-preference) {
  sectionintro {
    max-width:28em;

    transform: 
      perspective(28em)  
      translateX(-2em) 
      translateY(-1em) 
      translateZ(-3em)
      rotateY(-35deg) 
      rotateX(10deg)
      rotateZ(1.25deg);
    
    background-size:
      100% .2em, 
      100% .2em, 
      100% .15em, 
      100% .15em, 
      .2em 100%;
  }
}